<h4>ユーザー編集画面(ユーザー)</h4>
<%= form_with model: @user, url:user_path(@user.id), method: :patch do |f| %>
    <table>
        <tr><th>名前</th><td><%= f.text_field :name %></td></tr>
        <tr><th><%= f.file_field :image, accept: "image/*" %></th></>
        <tr><th><%= f.submit "保存する" %></th></tr>
    </table>
<% end %>