<div class="user-list-container">
  <h2 class="user-list-title">ユーザー一覧（管理者）</h2>

  <table class="user-table">
    <thead>
      <tr>
        <th>ユーザー名</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>
            <%= link_to user.name, admins_user_path(user.id), class: "user-link" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
