<h4>ユーザー詳細（管理者）</h4>
<%= @user.name %><br/>
<%= @user.date_of_birth %><br/>

<%= link_to "編集", edit_admins_customer_path(@user.id) %>
<%= link_to "削除", admins_customer_path(@user.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>

