<h2 class="comment-title">コメント詳細</h2>

<div class="comment-detail-container">
  <div class="comment-detail-text">
    <%= @comment.comment %>
  </div>

  <!-- ボタン -->
  <div class="comment-actions">
    <% if user_signed_in? %>
      <%= link_to "削除", strategy_comment_path(@comment.id), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-delete" %>
      <%= link_to "戻る", strategy_path(@comment.strategy_id), class: "btn btn-secondary" %>
    <% end %>
  </div>
</div>
