<h4>トップページ（管理者）</h4>
<%= link_to "新規ゲーム作成", new_admins_game_path %></br >

<% @game.each do |game| %>
   <table>
        <tr>
           <td><%= link_to game.title, admins_game_path(game.id) %></td>
        </tr>
    </table>
<% end %>